@model diary_course.Models.DTO.AuthUserDto

@{
    ViewBag.Title = "Регистрация";
    Layout = "_Layout";
}
<form style="display: flex; flex-direction: column; justify-content: center; align-items: center" method="post" asp-action="Register">
    <h2>Регистрация</h2>
    <input placeholder="Имя пользователя" asp-for="Username"/>
    <input class="mt-2" placeholder="Пароль" type="password" asp-for="Password"/>
    <br />
    <button type="submit" class="btn btn-primary">Создать аккаунт</button>
</form>